/*CHAT COMMANDS TAB*/

.add-command:not(.hidden){
	display:flex;
	flex-flow: row;
	margin:15px;
	align-items:end;
}

.add-command-fields{
	display:flex;
	flex-flow:column;
	
}

.add-command-form:not(.selected){
    display:none;
}

.add-command label{
	display:flex;
	padding:5px;
	justify-content:space-between;
}

.add-command input, select{
	margin-left:10px;
	color:white;
	background-color:#333333;
	padding:5px;
}

.add-command #addCommandButton{
	margin:0px 0px 3px 5px;
	max-width:50px;
}

.command-table{
    background-color:#333333;
	display:flex;
	flex-flow:column;
}

.command-container{
	overflow:auto;
	height:calc(100% - 150px);
}

.command-category{
	font-size:32px;
	margin:10px;
}

#toggleAddCommandButton{
	max-width:50px;
}

#toggleAddCommandButton.opened{
	background-color:#222222;
	border: 5px blue;
}

.command-element{
	display:flex;
	flex-flow:column;
    padding:14px;
}

.command-element:not(.expanded):hover{
	background-color:#222222;
}

.command-element.expanded{
	background-color:#222222;
}

.command-actions{
	display:inherit;
	margin-right:15px;
	
}

.command-key{
	margin-bottom:10px;
	font-size:24px;
	
}

.command-key label{
	pointer-events:none;
}

.command-props{
	display:inherit;
	flex-flow:column;
	font-size:18px;
}

.command-fields{
	display:inherit;
	flex-flow:row;
	align-items:center;
}

.command-props label{
	display:flex;
	padding:5px;
	justify-content:space-between;
}

.command-props input{
	margin-left:10px;
}
