.config-tab {
    background-color: #333333;
}

.config-element {
    display: flex;
    flex-flow: column;
    padding: 10px;
}

.config-variable {
    display: flex;
    flex-flow: row;
    padding: 10px;
    align-items: center;
}

.config-variable input,
.config-variable select,
.config-variable label,
.boolswitch {
    margin-left: 10px;
}

.add-osc-var {
    display: flex;
    flex-flow: row;
}

.add-osc-var .config-variable {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.add-osc-var input:not(.add-button) {
    margin: 5px;
}

.add-osc-var .add-button {
    align-self: flex-end;
}

.config-sub-var {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.config-sub-var.add {
    border: none;
}

.config-sub-var-ui {
    margin-left: 15px;
}

.config-sub-var label {
    margin-top: 10px;
}

.config-variable .add-button {
    align-self: flex-end;
}

.save-commands {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.event-sub-delete-button{
    max-width:100px;
	margin:10px;
	padding:10px;
	background-color:#990000;
	color:white;
	border-radius:5px;
}

.event-sub-delete-button:hover, #event-sub-add button:hover{
    filter:brightness(1.3);
}

#event-sub-add button{
    max-width:100px;
	margin:10px;
	padding:10px;
	background-color:#000099;
	color:white;
	border-radius:5px;
}

@media screen and (max-width: 600px) {
    .config-sub-var-ui {
        flex-flow: column;
    }
    .config-sub-var-ui label {
        display: flex;
        flex-flow: row;
    }
    .config-variable-ui,
    .add-osc-var .config-variable {
        display: flex;
        flex-flow: column;
        margin-left: 10px;
    }
    .config-variable-ui label {
        margin: 5px;
    }
}