* {
    border: 0;
    box-shadow: 0;
}

.App-title {
    font-size: 36px;
}

.App-header {
    margin: 10px;
}

body {
    background-color: #111111;
    color: white;
}

#tabContent {
    background-color: #333333;
    display: flex;
    flex-flow: column;
}

a {
    color: #99CCCC;
}

input,
select {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 0 1px;
}

input::placeholder {
    color: #AAAAAA;
}

.hidden {
    display: none !important;
}

.App-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.login {
    font-size: 24px;
}

.login-buttons a {
    padding: 5px;
}

.navigation-tabs button {
    color: white;
    background-color: #222222;
    font-size: 24px;
    padding: 5px 20px 10px 20px;
    border-radius: 10px 10px 0px 0px;
}

.tab-button.selected {
    background-color: #333333;
}

.add-button,
.save-button,
.command-button {
    max-width: 100px;
    margin: 10px;
    padding: 10px;
    background-color: #555555;
    color: white;
    border-radius: 5px;
}

.add-button:hover,
.save-button:hover,
.tab-button:hover,
.command-button:hover {
    filter: brightness(1.3);
}

.add-button {
    background-color: #555599;
}

.save-button {
    background-color: #559955;
}


/** Switch
 -------------------------------------*/

.boolswitch input {
    position: absolute;
    opacity: 0;
}


/**
   * 1. Adjust this to size
   */

.boolswitch-div {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.boolswitch {
    display: flex;
    font-size: 20px;
    /* 1 */
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
}

.boolswitch.checked {
    background: #00CC00;
}

.boolswitch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.boolswitch input:checked+div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}