.command-table {
    background-color: #333333;
    display: flex;
    flex-flow: column;
}

.plugin-entry-ui {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 36px;
    margin: 15px;
}

.plugin-entry-info {
    margin-left: 10px;
}

.plugin-entry-info a {
    font-size: 24px;
    color: #99CCCC;
}

.plugin-entry-settings {
    display: flex;
    flex-flow: column;
}

.plugin-entry-settings label,
.boolswitch-div {
    margin: 10px;
}

.plugin-entry-settings input {
    margin-left: 10px;
}

.plugin-entry-settings:not(.expanded) {
    display: none;
}

.plugin-install-button button {
    margin: 15px;
    font-size: 24px;
    color: white;
    background-color: #0099CC;
    padding: 15px;
}

.plugin-install-button button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.save-div {
    display: flex;
    flex-flow: row;
    align-items: center;
}